@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');

body {
    background-color: rgb(20,20,20);
    color: rgb(255,255,255);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: center;
}

header ul {
    display: flex;
    padding: 10px 10px 50px 10px;
}

li {
    list-style: none;
    margin: 5px 10px;
}

h1 {
    font-size: 160px;
    font-weight: 700;
    margin: 0;
}

h2 {
    margin: 3px;
    font-weight: 300;
    text-align: center;
}

h3 {
    margin: 0;
}

.subtitle {
    font-size: 50px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    margin-top: 17vh;
    text-align:center;
}

.light-text {
    font-weight: 100;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    display: flex;
    padding: 30px;
}

.options {
    display: flex;
}

.options a {
    margin: 40px 10px;
}

a {
    text-decoration: none;
    color: rgb(255,255,255);
}

.socials {
    width: 100px;
    height: 320px;
    background-color: rgb(255,0,166);
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 27vh;
}

@media only screen and (max-width: 600px) {
.socials {
    display: none;
}
}

.social {
    width: 100%;
    height: 33%;
}

.wave {
    fill: rgb(0,0,0);
    width: 100vw;
    height: 60vh;
    position: fixed;
    bottom: 0;
    left: 0;
}

.social svg {
    fill: rgb(255,255,255);
}

a:hover {
    color: rgb(255,0,166);
}

/*work page*/

.work-details {
    width: 50%;
}

.work-details td {
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    .work-details {
        width: 80%;
    }

    .work-details td {
        padding: 5px;
    }
}

/*about me*/

.about-me {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me img {
    height: 200px;
    border-radius: 50%;
    margin: 40px 10px 10px 10px;
}
.sub-pages-footer {
    position: fixed;
}


@media only screen and (max-width: 600px) {
    .sub-pages-footer {
        position: relative;
    }
}


/* contact page */
.form-submit {
    width: 50%;
}

.form-submit form {
    width: 100%;
}

.form-submit .form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-control {
    width: 50%;
    border: none;
    font-size: 20px;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 0;
}

.form-row .form-control:focus,
.form-submit textarea:focus {
    outline: 0;
    background-color: yellow;
}

.form-submit textarea {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    border: none;
    padding: 0;
    resize: none;
    margin-top: 5px;
    font-size: 20px;
    padding: 20px 0;
}

form button {
    width: 100%;
    background-color: rgb(79,177,79);
    color: rgb(255,255,255);
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .form-submit {
        width: 80%;
    }

    .form-submit .form-row {
        display: flex;
        flex-direction: column;
    }

    .form-row .form-control {
        width: 100%;
        margin-top: 5px;
    }
}















